lab8/document.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="document" type="documentType"/>
  <xs:complexType name="imgType">
    <xs:sequence>
      <xs:element type="xs:string" name="source"/>
      <xs:element type="xs:string" name="caption"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="contentType">
    <xs:all>
      <xs:element type="imgType" name="img"/>
      <xs:element type="xs:string" name="p"/>
    </xs:all>
  </xs:complexType>
  <xs:complexType name="pageType">
    <xs:sequence>
      <xs:element name="number" type="xs:positiveInteger"/>
      <xs:element type="contentType" name="content"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="documentType">
    <xs:sequence>
      <xs:element type="pageType" name="page" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>